
@font-face {
    font-family: 'Nunito-Regular';
    src: url("../static/NunitoSans_10pt-Regular.ttf");
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url("../static/NunitoSans_10pt-Bold.ttf");
}
@font-face {
    font-family: 'Nunito-SemiBold';
    src: url("../static/NunitoSans_10pt-SemiBold.ttf");
}

*,
*::after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li, h1, h2, h3, h4, p {
    font-family: 'Nunito-Regular', Serif;
    list-style: none;
    padding: 0;
    margin: 0;
    color: rgba(29, 29, 29, 1);
    text-align: center;

}

ul[class],
ol[class] {
    padding: 0;
}

button {
    background: none;
    text-align: center;
    border: none;
    outline: none;
    padding: 0 0;
    cursor: pointer;
}

body {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    text-align: center;
    background: #E5E5E5;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}